@import "tailwindcss";

/* :root {
} */

@theme {
  /* limeColorPallete */
  --color-lime-100: #fcffe5;
  --color-lime-200: #f3fa9e;
  --color-lime-300: #eaf63f;
  --color-lime-400: #dff10c;
  --color-lime-500: #d6f200; /* Primary */
  --color-lime-600: #bcd700;
  --color-lime-700: #a2bc00;
  --color-lime-800: #889f00;
  --color-lime-900: #6e8200;
  --color-lime-1000: #546600;

  /* tealColorPallete */
  --color-teal-100: #b3ced0;
  --color-teal-200: #7fb3b6;
  --color-teal-300: #4d999d;
  --color-teal-400: #257f85;
  --color-teal-500: #0b464e;
  --color-teal-600: #093c43;
  --color-teal-700: #083238;
  --color-teal-800: #06282d;
  --color-teal-900: #051e22;
  --color-teal-1000: #031417;

  /* blueColorPallete */
  --color-blue-100: #c5c8cc;
  --color-blue-200: #8d949b;
  --color-blue-300: #5a616a;
  --color-blue-400: #2e3742;
  --color-blue-500: #0b141d;
  --color-blue-600: #090f17;
  --color-blue-700: #070b11;
  --color-blue-800: #05070b;
  --color-blue-900: #030305;
  --color-blue-1000: #010001;

  /* pearlColorPallete */
  --color-pearl-100: #ffffff;
  --color-pearl-200: #fcfdfb;
  --color-pearl-300: #fafcf7;
  --color-pearl-400: #f8faf4;
  --color-pearl-500: #f7f8f2;
  --color-pearl-600: #dddeda;
  --color-pearl-700: #c3c5c2;
  --color-pearl-800: #a9aba9;
  --color-pearl-900: #8f918f;
  --color-pearl-1000: #757776;

  /* gradientColor */
  --background-image-gradient-01: linear-gradient(
    to bottom,
    var(--color-teal-700),
    var(--color-blue-500)
  );

  /* font family */
  --font-sofia: var(--font-sofia-sans-condensed), sans-serif;
  --font-redhat: var(--font-red-hat-text), sans-serif;
}

@layer utilities {
  .clip-navbar {
    clip-path: polygon(
      0% 0%,
      calc(100% - 17px) 0%,
      100% 17px,
      100% 100%,
      17px 100%,
      0% calc(100% - 17px)
    );
  }

  .clip-contact-1 {
    clip-path: polygon(
      0% 0%,
      calc(100% - 17px) 0%,
      100% 17px,
      100% 100%,
      0% 100%
    );
  }
  .clip-contact-2 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      calc(20% - 17px) 100%,
      0% 17px
    );
  }

  .social-media-mobile {
    @apply flex h-8 w-8 items-center justify-center rounded-lg bg-pearl-500 transition-colors duration-200 hover:bg-pearl-600;
  }

  .social-media-desktop {
    @apply flex h-12 w-12 items-center justify-center rounded-xl bg-pearl-500 transition-colors duration-200 hover:bg-pearl-600;
  }

  .text-stroke-black {
    color: transparent; /* supaya fill hilang */
    -webkit-text-stroke: 2px #03141740; /* outline warna hitam */
  }

  /* text styles heading*/
  /* mobile-desktop*/
  .h1 {
    @apply font-sofia text-[60px] leading-[110%] font-extrabold;
  }
  @media (width >= 48rem) {
    .h1 {
      @apply text-[90px];
    }
  }

  .h2 {
    @apply font-sofia text-[40px] leading-[110%] font-bold;
  }
  @media (width >= 48rem) {
    .h2 {
      @apply text-[64px];
    }
  }

  .h3 {
    @apply font-sofia text-[30px] leading-[110%] font-semibold;
  }
  @media (width >= 48rem) {
    .h3 {
      @apply text-[40px];
    }
  }

  .h4 {
    @apply font-sofia text-[20px] leading-[110%] font-normal;
  }
  @media (width >= 48rem) {
    .h4 {
      @apply text-[30px];
    }
  }

  /* text styles body*/
  /* body-desktop */
  .body-large {
    @apply font-redhat text-[16px] leading-[150%] font-normal;
  }
  @media (width >= 48rem) {
    .body-large {
      @apply text-[20px];
    }
  }

  .body-medium {
    @apply font-redhat text-[14px] leading-[150%] font-normal;
  }
  @media (width >= 48rem) {
    .body-medium {
      @apply text-[16px];
    }
  }

  .body-medium-bold {
    @apply font-redhat text-[14px] leading-[150%] font-medium;
  }
  @media (width >= 48rem) {
    .body-medium-bold {
      @apply text-[16px];
    }
  }

  .body-small {
    @apply font-redhat text-[12px] leading-[150%] font-normal;
  }

  .body-small-bold {
    @apply font-redhat text-[12px] leading-[150%] font-medium;
  }
}
